<template>
    <!DOCTYPE html>
    <html lang="sr">

    <head>
        <title>Enciklopedija Kurpejovića</title>
    </head>
    <header>
        <nav>
            <ul>
                <li><a href="/#index.html">
                        <p>logo</p>
                    </a></li>
                <li><a href="/#categories.html">kategorije</a></li>
                <li><a href="/#.html">neznam</a></li>
                <li><a href="/#credits.html">kredita</a></li>
            </ul>
        </nav>
    </header>

    </html>
</template>

<script>
    export default {
        // Your component logic goes here
    }
</script>

<style scoped>
    /* Your component-specific styles go here */
</style>